*.exe
*.obj
*.out
*.compile
*.native
*.byte
*.cmo
*.annot
*.cmi
*.cmx
*.cmt
*.cmti
*.cma
*.a
*.cmxa
*~
*.cmj
*.bak
lib/bs
*.mlast
*.mliast
.vscode
.merlinlib
.merlin
.bsb.lock
node_modules
lib
/.yarn/install-state.gz
